.childHeadline {
  line-height: 46px;
}
.childHeadline button {
  float: right;
}
.childrenInputGroup {
  margin-bottom: 32px;
}
.inlineFieldContainer {
  display: flex;
  flex-direction: row;
}
.inlineFieldContainer > div:first-child {
  margin-right: 16px;
}
@media only screen and (max-width: 600px) {
  .inlineFieldContainer {
    display: flex;
    flex-direction: column;
  }
  .inlineFieldContainer > div:first-child {
    margin-right: 0;
  }
}
.flexGrow {
  flex-grow: 1;
}
.checkBoxRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
