.inlineFieldContainer {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .inlineFieldContainer {
    display: flex;
    flex-direction: column;
  }
}
.inlineField {
  width: 50%;
}
.inlineField:first-child {
  margin-right: 16px;
}

.wideField {
  width: 100%;
}

.flexGrow {
  flex-grow: 1;
}
