.autocompleteFieldWrapper > div {
  margin-bottom: 0;
}
.autocompleteFieldSpacer {
  margin-bottom: 20px;
}
@media (min-width: 40.0625em) {
  .autocompleteFieldWrapper > div {
    margin-bottom: 0;
  }
  .autocompleteFieldSpacer {
    margin-bottom: 30px;
  }
}
.autocompleteWrapper {
  width: 100%;
  position: relative;
}
.autocompleteFieldLoading {
  position: relative;
}
.autocompleteFieldLoading input {
  padding-right: 40px;
}
.autocompleteFieldLoading::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  right: 5px;
  bottom: 0;
  background: url("/assets/images/spinner.png") center center no-repeat !important;
  pointer-events: none;
}
