.autocompleteFieldLoading {
  position: relative;
}
.autocompleteFieldLoading input {
  padding-right: 40px;
}
.autocompleteFieldLoading::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  right: 5px;
  top: 32px;
  background: url('/assets/images/spinner.png') center center no-repeat !important;
  pointer-events: none;
}
